.profile-img-wrap {margin:  5px 40%; margin-bottom: 30px; position: relative;height: 120px;width: 120px;background: #fff;overflow:hidden;}
.profile-basic {margin-left: 140px;}
.profile-img-wrap img {width: 120px;height: 120px;}
.fileupload.btn {position: absolute;right: 0;bottom: 0;background: rgba(33, 33, 33, 0.5);border-radius: 0;padding: 3px 10px;border: none;}
.fileupload input.upload {width:50px; cursor: pointer;filter: alpha(opacity=0);font-size: 20px;margin: 0;opacity: 0;padding: 0;position: absolute;right: -3px;top: -5px;padding: 0px;}
.btn-text {color: #fff;}